APP_NAME=AttendEase
BASE_URL=http://localhost:3000
FRONTEND_URL=attendease://

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000/api/auth

DATABASE_URL=

REDIS_HOST=localhost
REDIS_PORT=6379

SMTP_MAIL_HOST=
SMTP_MAIL_PORT=
SMTP_MAIL_USER=
SMTP_MAIL_PASS=
SMTP_MAIL_FROM=
